@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  width: 250px;
  margin: 1rem;
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0, 1);
  overflow: hidden;
  position: relative;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  max-height: 100%;
  color: #22254b;
  padding: 1rem;
  transform: translateY(102%);
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
}

.movie:hover .movie-over {
  transform: translateY(0);
}

header {
  width: 100%;
  padding: 20px;
  background-color: #373b69;
  color: white;
  display: flex;
  justify-content: flex-end;
}

header input {
  padding: 13px 32px;
  border-radius: 40px;
  font-size: 1.1rem;
  font-weight: 600;
  outline: none;
  font-family: inherit;
  border: 3px solid rgb(38, 6, 73);
  background-color: transparent;
  color: rgb(194, 186, 186);
}
